* {
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand';
  }
  
  /* GLOBAL */
  .container {
    display: grid;
    max-width: 800px;
  
    padding-block: 40px;
    padding-inline: 20px;
    margin-inline: auto;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top: 20px;
    outline: 2px grey;
  }
  
  label {
    display: block;
  }
  
  section > .title-section {
    margin-block-end: 2rem;
  
    font-size: 1.2em;
  }
  /* GLOBAL */
  
  /* Start of Header */
  header {
    background-color: #c897d3;
    color: beige;
  }
  
  .app-bar {
    padding: 24px 20px;
  }
  
  .app-bar .brand-name {
    margin: 0;
  
    font-size: 1.7em;
  }
  /* End of Header */
  
  /* Start of Main */
  main {
    min-height: 100vh;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(119, 172, 119, 0.2);
    border-radius: 50px;
    padding: 35px;
    padding-left: 50px;
    }
  .card li {
    list-style-type: disc;
    position: relative;
    padding: 0;
    font-size: 20px;
  }

  .sub-lesson {
    background-color :rgb(166, 218, 165);
    padding: auto;
    margin-bottom: 30px;
  }

  h3 {
    padding: 20px;
    font-size: 30px;
  }

  p {
    padding: 5px;
    font-size: 20px;
  }

  /* form */
  h2 {
    text-align: center;
    color: rgb(17, 11, 12);
    padding: 10px;
    font-size: 40px;
  }
  form {
    display: grid;
    gap: 10px;
    border: 1px solid #ccc; 
    background-color: rgb(247, 247, 240);
    padding: 20px; 
    border-radius: 5px; 
    font-family: 'Quicksand';
    input::placeholder,
    textarea::placeholder {
    font-family: 'Quicksand'; 
    width: 100%;
    max-width: 400px;
    place-items: center;
    };
  }

  label {
    display: block;
    margin-block-end: 0.5rem;
  }

  textarea,
  input {
    display: block;
  
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 10px;
  
    width: 100%;
    max-width: 300px;
  }
  
  button {
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Quicksand';
  
    margin-bottom: 20px;
    padding: 10px;
    border:  1px solid beige;
  
    display: block;
    width: 100%;
    background: rgb(166, 218, 165);
  
    line-height: 1;
  
    cursor: pointer;
  }
  
  label,
  input,
  textarea,
  button {
    font-size: 1rem;
    transition: all 150ms linear;
  }
  
  .form-group {
    margin-block-end: 1rem;
  }
  
  .btn {
    background-color: rgb(166, 218, 165);
  
    border-radius: 0.3rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid #333;
  
    color: beige;
  }
  
  .btn:hover {
    background-color: rgb(166, 218, 165);
  }
  
  .btn:active {
    background-color: rgb(134, 209, 132);
  }
  /* form */

  
  .assign-container {
    margin-block-start: 32px;
    margin-bottom: 30px;
  }
  
  .assign-list .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .assign-list .list .card .fan-art-assign {
    width: 100%;
    max-height: 450px;
  
    object-fit: cover;
    object-position: center;
  }
  
  .assign-list .list .card .assign-info {
    padding: 16px 24px;
  }
  
  .assign-list .list .card .assign-info__title h2 {
    font-weight: lighter;
  }
  
  .assign-list .list .card .assign-info__description p {
    display: -webkit-box;
    margin-top: 10px;
  
    overflow: hidden;
  
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* number of lines to show */
  }
  
  .assign-list-container .placeholder {
    margin-block: 1rem;
  
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
  }
  /* End of Main */
  
  /* Start of Footer */
  footer {
    background-color: #c897d3;
    font-family: 'Quicksand';
    color: white;
  }
  
  footer .container {
    padding-block: 20px;
  }
  
  .main-footer {
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* End of Footer */

  @media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}
